
.DS_Store

Lecture 2/.ipynb_checkpoints/

Lecture 3/.ipynb_checkpoints/

Lecture 4/.ipynb_checkpoints/

Lecture 5/.ipynb_checkpoints/

Lecture 7/.ipynb_checkpoints/

Lecture 8/.ipynb_checkpoints/

Lecture 9/.ipynb_checkpoints/

Lecture 10/.ipynb_checkpoints/

Lecture 11/.ipynb_checkpoints/

Lecture 12/.ipynb_checkpoints/

Lecture 14/.ipynb_checkpoints/

Lecture 15/.ipynb_checkpoints/
